<%- include('header/header', {titulo: 'KnowingTheOcean'}); %>
        <button onclick="enviarDatos()" value="enviar">enviar</button>        
        <input id="hola" value="" />
        <input id="resultado" value=""/>
        <a href="/infoDex">infoDex</a>

<%- include('footers/footer'); %>