<%- include('header/header', {titulo: 'Bitacora - KnowingTheOcean'}); %>

        <div id="content-box">
            <!-- Left Side, display specie info -->
            <div id="specie-info">
                <img id="specie-img" src="./images/1_.png">
                <div id="specie-types">
                    <span class="type-box name">NAME</span>
                    <br><br>
                    <span class="type-box scientific_name">SCIENTIFIC NAME</span>
                    <br><br>
                    <span class="type-box family">FAMILY</span>
                    <br><br>
                    <span class="type-box habitat">HABITAT</span>
                </div>
                <div id="specie-description"></div>
            </div>
            <!-- Right side, display specie list -->
            <div id="specie-list">
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
                <div id="1" class="specie-name">TOTOABA</div>
            </div>
        </div>
<%- include('footers/footer'); %>