<%- include('header/headerBitacora', {titulo: 'Bitacora - KnowingTheOcean'}); %>
<div id="subAling">
    <img id="submarinoBi" src="/img/submarino.png"/>
</div>
<div id="subRig">
    <h3 style="margin-right: 20px;">Bienvenido explorer</h3>
</div>

        <div id="content-box">
            <!-- Left Side, display specie info -->
            <div id="specie-info">
                <img id="idImagenBitacora" />
                <div id="specie-types">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="poblacionNum">Población</label>
                            <input id="poblacionNum" type="text" class="form-control" id="especie" aria-describedby="text" readonly>
                          </div>
                    </div>                    

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ubicacionName">Ubicación</label>
                        <input id="ubicacionName" type="text" class="form-control" id="especie" aria-describedby="text" readonly>
                      </div>
                </div>
                </div>
                <div id="specie-description">
                    <div class="form-group">
                        <label for="txtARiesgos" style="color:black;">Afectaciones a su ecosistema</label>
                        <textarea id="txtARiesgos" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                      </div>
                </div>
            </div>
            <!-- Right side, display specie list -->
            <div id="specie-list">
                <div class="input-group">
                    <input id="textBusqueda" type="text" class="form-control" id="name" aria-describedby="text" placeholder="Realizar búsqueda" value="">
                    <button class="btn btn-danger" onclick="enviarDatos()">Buscar</button>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input id="nameAnimal" type="text" class="form-control" id="name" aria-describedby="text" readonly>
                      </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre </label>
                        <input id="nameEspecie" type="text" class="form-control" id="especie" aria-describedby="text" readonly>
                      </div>
                </div>
            </div>
        </div>
        <script type="text/javaScript">
            var s= document.getElementById("textBusqueda");
            s.value="";
            var s= document.getElementById("nameAnimal");
            s.value = "";

            var s= document.getElementById("nameEspecie");
            s.value = "";

            
            var s = document.getElementById("poblacionNum")
            s.value ="";

            var s = document.getElementById("ubicacionName")
            s.value ="";


            var s = document.getElementById("idImagenBitacora").src="";

            var s = document.getElementById("txtARiesgos")
            s.value ="";
            </script>
<%- include('footers/footer'); %>